<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.INoticeMapper">

	<select id="getNoticeList" parameterType="NoticeDTO"
		resultType="NoticeDTO">
		SELECT * FROM NOTICE_INFO
	</select>

	<!-- 게시판 상세보기 쿼리 -->
	<select id="getNoticeInfo" resultType="NoticeDTO">
		SELECT SEQ,
		POST_TITLE, POST_CONTENT, REG_DT
		FROM NOTICE_INFO
		WHERE SEQ = #{seq}
	</select>
	
	<!-- 공지사항 등록 -->
	<insert id="insertNoticeInfo" parameterType="String">
		INSERT INTO NOTICE_INFO
		(
			POST_TITLE,
			POST_CONTENT
		)
		VALUES
		(
			#{0},
			#{1}
		)
	</insert>
	
	<!-- 공지사항 삭제 -->
	<delete id="deleteNoticeInfo" parameterType="Integer">
	DELETE FROM NOTICE_INFO
	WHERE SEQ = #{0}
	</delete>
	
</mapper>
