<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IUserMapper">

<!-- 로그인 -->
<select id="loginProc" resultType="UserDTO">
	SELECT * FROM USER_INFO
	WHERE
	ID = #{id} AND PASSWORD = #{password} AND USER_STATE NOT IN(0)
</select>

<!-- ID 중복확인 -->
<select id="checkID" parameterType="String" resultType="UserDTO">
SELECT DISTINCT(ID) FROM USER_INFO WHERE ID = #{value}
</select>

<!-- 이메일 중복확인 -->
<select id="checkEmail" parameterType="String" resultType="UserDTO">
SELECT DISTINCT(EMAIL) FROM USER_INFO WHERE EMAIL = #{value} 
</select>

<!-- 유저 회원가입 -->
<insert id="regUser">
	INSERT INTO USER_INFO
	(
	USER_TYPE,
	ID,
	EMAIL,
	PASSWORD,
	USER_NAME,
	USER_TEL
	)
	VALUES
	(
	0,
	#{id},
	#{email},
	#{password},
	#{user_name},
	#{user_tel}
	)
</insert>

<update id="verifyEmail" parameterType="String">
UPDATE USER_INFO
SET USER_STATE=#{1}
WHERE ID=#{0} AND USER_STATE=0
</update>

</mapper>