<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IUserMapper">

<!-- ID 중복확인 -->
<select id="checkID" parameterType="String" resultType="UserDTO">
SELECT DISTINCT(ID) FROM USER_INFO WHERE ID = #{value}
</select>

<!-- 이메일 중복확인 -->
<select id="checkEmail" parameterType="String" resultType="UserDTO">
SELECT DISTINCT(EMAIL) FROM USER_INFO WHERE EMAIL = #{value} 
</select>

</mapper>